.gap-y > *:not(:last-child) {
  margin-bottom: 10px;
}

.gap-x > *:not(:last-child) {
  margin-right: 10px;
}

.hover {
  position: relative;

  &:hover::after {
    width: 100%;
    left: 0;
    right: auto;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: -6px;
    right: 0;
    height: 1.8px;
    width: 0%;
    background: var(--clr-secondary-400);
    transition: 0.5s;
  }
}

svg {
  width: 15px;
  height: 15px;
  display: inline-block;
  stroke: #0e0d0b;
  stroke-width: 3px;
}
