* {
  color: var(--clr-secondary-300);
  font-family: "Lato", sans-serif;
}

body {
  background-color: var(--clr-primary-300);
  color: var(--clr-secondary-300);
  letter-spacing: -0.5px;
  font-size: 18px;
  font-weight: 400;
}

h1,
h2,
h3,
h4 {
  --font-weight: 700;
  --font-width: 80;
  font-weight: normal;
  font-stretch: 100%;
  line-height: 1.1;
  color: var(--clr-neutral-800);
  font-family: "Amiri", serif;
}

h1 {
  --font-weight: 900;
}

a {
  color: var(--clr-secondary-300);
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}
