$colors: (
  primary: (
    300: hsl(0 0% 0%),
    400: hsl(0 0% 20%),
    500: hsl(0 0% 40%),
  ),
  secondary: (
    // purple
    300: hsl(0 0% 100%),
    400: hsl(0 0% 80%),
    500: hsl(0 0% 60%),
  ),
);
