@use "../abstracts/" as *;

.about-container {
  display: flex;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  max-width: 900px;
  width: 100%;
  margin: auto;

  @include mq(sm) {
    flex-direction: column;
  }

  & > * {
    width: 50%;
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  & > .about-photo {
    width: 100%;
    height: 100%;
    z-index: 10;
    background-image: linear-gradient(0deg, #0e0d0b, transparent 25%),
      url(http://alexandre-fournou.com/profil.8dee4cfc.jpg);
    background-size: cover;
    background-position: 50% 50%;
  }

  .about-desc {
    z-index: 20;
    p {
      font-size: 18px;
      line-height: 27px;
      font-weight: 400;
      color: var(--clr-secondary-400);
    }

    & > p {
      margin-bottom: 45px;
    }
  }

  .contact-info {
    h2 {
      font-family: "Lato", sans-serif;
      font-size: 15px;
      font-weight: 800;
      line-height: 21px;
      color: var(--clr-secondary-400);
    }
    p,
    a {
      color: var(--clr-secondary-500);
    }
  }

  .about-social {
    margin-block: 18px;

    li {
      &:not(:last-child) {
        margin-bottom: 2px;
      }

      a {
        font-size: 18px;
        line-height: 27px;
        font-weight: 400;
        color: var(--clr-secondary-500);
      }
    }
  }

  .download-cv {
    color: var(--clr-secondary-500);
  }
}
