.about-container {
  display: flex;
  align-items: center;
  height: 100vh;

  & > * {
    width: 50%;
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  & > img {
    height: 100%;
    object-fit: cover;
  }

  .about-desc {
    p {
      font-size: 18px;
      line-height: 27px;
      font-weight: 400;
      color: var(--clr-secondary-400);
    }

    & > p {
      margin-bottom: 45px;
    }
  }

  .contact-info {
    h2 {
      font-family: "Lato", sans-serif;
      font-size: 14px;
      font-weight: 700;
      line-height: 21px;
      color: var(--clr-secondary-400);
    }
  }

  .about-social {
    margin-block: 18px;

    li {
      &:not(:last-child) {
        margin-bottom: 8px;
      }

      a {
        font-size: 18px;
        line-height: 27px;
        font-weight: 400;
        color: var(--clr-secondary-400);
      }
    }
  }
}
